# URL du backend utilisé par l'application mobile.
EXPO_PUBLIC_API_URL=http://IP_DU_BACK:4000

# Google OAuth mobile
EXPO_PUBLIC_GOOGLE_CLIENT_ID=your_google_web_or_expo_client_id
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_google_ios_client_id
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your_google_android_client_id
EXPO_PUBLIC_GITHUB_CLIENT_ID=your_github_client_id