# URL du backend utilisé par l'application mobile.
# Exemple en réseau local :
# EXPO_PUBLIC_API_URL=http://172.20.10.3:4000
EXPO_PUBLIC_API_URL=http://IP_DU_BACK:4000

# Google OAuth mobile
# À remplir uniquement si la connexion Google mobile est utilisée.
EXPO_PUBLIC_GOOGLE_CLIENT_ID=your_google_web_or_expo_client_id
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_google_ios_client_id
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your_google_android_client_id