NODE_ENV=development
PORT=4000

# URLs autorisées par le backend.
# Ajoute ici l'URL du frontend web et éventuellement celle du mobile Expo.
CORS_ORIGINS=http://localhost:5173,http://localhost:8081

# URL du frontend web utilisée pour les redirections OAuth web.
FRONTEND_URL=http://IP_DU_FRONT:5173

# URL publique ou locale du backend.
BASE_API_URL=http://IP_DU_BACK:4000

# MongoDB Docker
MONGODB_URI=mongodb://mongodb:27017/supfile

# JWT
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=30d

# GitHub OAuth
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL=http://IP_DU_BACK:4000/auth/oauth/github/callback

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://IP_DU_BACK:4000/auth/oauth/google/callback

# Stockage local des fichiers dans Docker
STORAGE_DIR=/app/storage

# Upload
MAX_UPLOAD_MB=50