PORT=4000
MONGODB_URI=mongodb://mongodb:27017/supfile
JWT_ACCESS_SECRET=...
JWT_REFRESH_SECRET=...
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=30d

STORAGE_DIR=/app/storage

FRONTEND_URL=http://IP_DU_FRONT:5173

GITHUB_CLIENT_ID=...
GITHUB_CLIENT_SECRET=...
GITHUB_CALLBACK_URL=http://IP_DU_BACK:4000/auth/oauth/github/callback

GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
GOOGLE_CALLBACK_URL=http://IP_DU_BACK:4000/auth/oauth/google/callback